@import "src/usedEverywhereStyles.module";

.cargoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
  background-size: cover;
  background-image: url('../../../public/cargoBackground.jpg');
  background-repeat:no-repeat;
}

.bgGradientCalcBlock{
  height: 460px;
  background:
          linear-gradient(
                  to left,
                  $colorLightGray 34%,
                  $colorDarkGray 34% 65%,
                  $colorLightGray 65% 100%,
  );

  @include flexBasePack($justifyContent:center);

  .calcContainer {
    width: 80%;
    height: 100%;

    @include flexBasePack($flexWrap:wrap, $alignContent:center, $alignItems:flex-start);

    .leftSideCalcBlock {
      width: 50%;

      @include flexBasePack($flexWrap:wrap, $gap:20px, $flexDirection:column, $justifyContent:center);
    }

    .rightSideBlockMoreDetails {
      width: 50%;

      @include flexBasePack($flexWrap:wrap, $gap:20px, $flexDirection:column, $justifyContent:center)
    }
  }
}

.main {
  width: 100%;
  font-family: sans-serif;

  @include getColor($colorWhite)
}

.containerInMain {
  width: 80%;

  @include flexBasePack($justifyContent:center);
}

.containerCargoText {
  width: 920px;
  height: 245px;
  border: solid 0.5px $colorBrown;

  @include flexBasePack($justifyContent:center, $flexWrap:wrap, $alignContent:center, $gap:40px);
}

.containerCargoBigText {
  height: 50px;

  @include textTheme($fontSize:48px, $textAlign:center, $fontWeight:bold);
}

.smallTextInContainerCargo {
  width: 90%;

  @include textTheme($fontSize:20px, $textAlign:center);
}





.feature {
  width: 80px;
  height: 4px;
  background-color: $colorBrown;
}

.bigTextHCalc {
  @include textTheme($fontSize:32px, $textAlign:left);
}
.smallTextMoreDetails {
  @include textTheme($fontSize:16px, $lineHeight:10px);
}

.calcForm {
  @include flexBasePack($flexWrap:wrap, $gap:20px);

  .citiesInputsContainer {
    width: 100%;

    @include flexBasePack($flexWrap:nowrap, $gap:10px, $alignItems:center, $justifyContent:space-between);

    .arrowBetweenInputs {
      height: 100%;
      width: 20%;

      @include flexBasePack($flexWrap:wrap, $alignContent:center, $flexDirection:column, $justifyContent:center);
    }
  }

  .characteristicsCargoForm {
    @include flexBasePack($flexWrap:wrap, $gap:14px);

    .textH {
      @include textTheme();
    }

    .inputsCargoDimensionsContainer {
      width:100%;

      @include flexBasePack($flexWrap:nowrap, $justifyContent:space-between);
    }

    .inputWeightAndButtonCalcContainer{
      width: 100%;

      @include flexBasePack($flexWrap:wrap, $gap:20px);

      .inputContainer {
        width: 100%;

        @include flexBasePack($flexWrap:wrap, $gap:20px, $justifyContent:space-between, $alignItems:flex-end);
      }
    }
  }
}

.titleBlockContainer {
  @include flexBasePack($flexWrap:wrap, $gap:10px, $flexDirection:column);
}








.buttonMoreDetails {
  width: 40%;
  height: 54px;
  box-shadow: none;
  border-radius: 0;
  background-color: $colorBrown;

  @include textTheme();
}



.containerImagesMoreDetails {
  width: 50%;
}

.containerArrowMoreDetails {
  width: 40%;

  @include flexBasePack($flexDirection:column, $gap:60px, $flexWrap:wrap, $alignContent:flex-end);
}

.buttonArrow {
  color: $colorBrown;
  @include textTheme();
}


.test{
  height: 240px;display: flex;flex-wrap: wrap; align-items: center;width: 100%;
background:linear-gradient(
  to left,
                $colorDarkGray 34%,
                $colorLightGray 34% 65%,
                $colorDarkGray 65% 100%,)
}
