.cargoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  background-size: cover;
  background-image: url('../../../public/cargoBackground.jpg');
  background-repeat:no-repeat;
}

.bgColorGradient{
  background:
          linear-gradient(
                  to left,
                  #393f47 34%,
                  #2f343a 34% 65%,
                  #393f47 65% 100%,
  );
}