@import "src/usedEverywhereStyles.module";

.main {
  width: 100%;
  font-family: sans-serif;

  @include getColor($colorWhite)
}

.defaultText{
  @include textTheme();

}

.feature {
  width: 80px;
  height: 4px;
  background-color: $colorBrown;
}

.bigHText {
  @include textTheme($fontSize:32px, $textAlign:left);
}


.titleBlockContainer {
  @include flexBasePack($flexWrap:wrap, $gap:10px, $flexDirection:column);
}



.containerImagesMoreDetails {
  width: 50%;
}

.containerArrowMoreDetails {
  width: 40%;

  @include flexBasePack($flexDirection:column, $gap:60px, $flexWrap:wrap, $alignContent:flex-end);
}

.buttonArrow {
  color: $colorBrown;
  @include textTheme();
}

.test{
  height: 240px;display: flex;flex-wrap: wrap; align-items: center;width: 100%;
background:linear-gradient(
  to left,
                $colorDarkGray 34%,
                $colorLightGray 34% 65%,
                $colorDarkGray 65% 100%,)
}




