@import "src/usedEverywhereStyles.module";

.header{
  height: 100px;
  width: 100%;
  background-color: $colorDarkGray;
  color: $colorWhite;

  @include flexBasePack($justifyContent:center);
}

.containerInHeader {
  @include get80Container();

  .containerHeaderLeftSide {
    width: 50%;

    @include flexBasePack($alignItems:center);

    .containerPoint {
      width: 200px;

      @include flexBasePack($alignItems:center, $justifyContent:flex-end);

      .point{
        margin-right: 8px;
      }
      .textPointer {
        padding-right: 40px;

        @include textTheme($fontSize:16px);
      }
    }

    .containerLogo {
      width: 200px;
      border-right: solid 0.2px;

      @include flexBasePack($alignItems:center);

      .logo {
        width: 80px;
        height: 80px;
      }
      .logoText {
        padding-left: 6px;

        @include textTheme();
      }
    }
  }

  .tabsContainer {
    width: 50%;

    @include flexBasePack();

    .tab {
      height: 100%;
      display: flex;
      align-items: center;
      width: 20%;
      justify-content: center;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      z-index: 1;

      @include textTheme($fontSize:16px,$fontWeight:bold);
    }
    .tab::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $colorBrown;
      transition: all .5s;
      z-index: -1;
      transform: translateY(100%);
    }
    .tab:hover::before {
      transform: translateY(0);
      cursor: pointer;
    }
    .tab:hover {
      cursor: pointer;
    }
  }
}
